@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: system-ui, sans-serif;
}
